.content{
    position: relative;
    width: 1400px;
    height: 4960px;
    background: url(../images/bg.png);
    margin: auto;    
}
.Header{
    background-color: #fdfafa;
    height: 115px;
    width: 1400px;
}
.inicio{
    height: 583px;
    left: 0px;
    top: 115px;
}
.servicos{
    height: 482px;
    top: 505px;
    left: 0px;    
}
a{
    animation: none;
    text-decoration: none;
    color: #000000;
}
#linkbar{
    color: #000000;
    font: 400 14px / 41px;
    font-family: "Verdana";
    position: absolute;
    left: 741px;
    top: 52px;
    word-spacing: 30px;
}

#logo{
    height: 104px;
    left: 142px;
    top: 5px;
    width: 296px;
}
#transparencia1{
    position: absolute;
    
}
#barra1{
    position: absolute;
}
#txt_inicio1{
    position: relative;
    color: #ffffff;
    font: 700 60px / 65px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 423px;
    top: 75px;
}
#txt_inicio2{
    position: relative;
    color: #ffffff;
    font: 700 60px / 65px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 516px;
    top: 15px;
}
#txt_inicio3{
    position: relative;
    color: #ffffff;
    font: 400 20px 'Myriad Pro';
    font-family: 'Myriad Pro', 'Verdana', sans-serif;
    left: 582px;
    top: -80px;
}
#inicio_plus{
    position: relative;
    left: 458px;
    top: -95;
}
#btn_orcamento{
    position: relative;
    left: 587px;
    top: -65px;
    
}
#txt_servicos{
    position: relative;
    color: #f9c52b;
    font: 700 45px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 570px;
    top: -150px;
}
#img_servicos{
    position: relative;
    left: 74px;
    top: -150px;
}
#box_sobre{
    position: relative;
    width: 853px;
    height: 245px;
    left: 41px; 
    top: -300px;

}
#img_heart{
    position: relative;
    left: 95px;
    top: 45px;
}
#txt_heart1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -10px;
    top: 120px;
}
#txt_heart2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -180px;
    top: 156px;
}

#img_mobo{
    position: relative;
    left: -15px;
    top: 45px;
}
#txt_mobo1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -90px;
    top: 120px;
}
#barrasobre{
    position: relative;
    left: 377px;
    top: -360px;
    width: 200px;
    height: 11px;
}
#txt_mobo2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -255px;
    top: 156px;
}
#txt_mobo3{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -405px;
    top: 170px;
}
#img_statics{
    position: relative;
    left: 650px;
    top: -35px;
}
#txt_statics1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 580px;
    top: 45px;
}
#txt_statics2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 430px;
    top: 80px;
}
#txt_statics3{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 213px;
    top: 95px;
}
#txt_sobre{
    position: relative;
    color: #000000;
    font: 700 45px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 392px;
    top: -300px;
}
#txt_sobre2{
    position: relative;
    color: #f9bf12;
    font: 700 30px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 120px;
    top: -250px;
}
#txt_sobre3{
    position: relative;
    color: #000000;
    font: 400 20px 'Myriad Pro';
    font-family: Myriad Pro, Verdana, sans-serif;
    text-align: center;
    width: 920px;
    top: -250px;
    left: 27px;
}
#txt_idiomas{
    position: relative;
    color: #f9c52b;
    font: 700 35px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 848px;
    top: -100px;
}
#txt_idiomas2{
    position: relative;
    color: #777777;
    font: 400 15px 'Myriad Pro';
    font-family: Myriad Pro, Verdana, sans-serif;
    left: 893px;
    top: -130px;
}
#txt_idiomas3{
    position: relative;
    color: #222222;
    font: 700 15px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 849px;
    top: -100px;
}
#txt_idiomas4{
    position: relative;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 849px;
    top: -125px;
    width: 420px;
}
#img_precos{
    position: relative;
    left: 854px;
    top: -100px;
}
#txt_precos{
    position: relative;
    left: 941px;
    top: -185px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_precos2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -210px; 
}
#img_quality{
    position: relative;
    left: 854px;
    top: -160px;
}
#txt_quality{
    position: relative;
    left: 940px;
    top: -245px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_quality2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -270px; 
}
#img_security{
    position: relative;
    left: 854px;
    top: -222px;
}
#txt_security{
    position: relative;
    left: 940px;
    top: -305px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_security2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -330px; 
}
#txt_idiomas5{
    position: relative;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    width: 550px;
    left: 850px;
    top: -250px;
}
#txt_cafe{
    position: relative;
    color: #f9c52b;
    font: 700 35px / 36px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 449px;
    top: -40
}
#txt_cafe2{
    position: relative;
    color: #ffffff;
    font: 400 20px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 264px;
    top: -70px;
}
#box_servico{
    position: relative;
    left: 100
}
#box_idioma{
    position: relative;
    left: 120px;
}
#cafeFormBox{
    width: 720px;
    position: relative;
    margin: auto;
}
#box_numero{
    position: relative;
    left: 70px;
    top: 10px;
}
#txt_labelnumero{
    color: #ffffff;
    font: 700 14px OpenSans;
    position: relative;
    left: 70px;
    top: 10px;
}
#box_interprete{
    position: relative;
    top: -27px;
    left: 280px;
}
#txt_labelinterprete{
    position: relative;
    top: -27px;
    left: 280px;
    color: #ffffff;
    font: 700 14px OpenSans;
}
#box_dias{
    position: relative;
    top: -64px;
    left: 500px;
}
#txt_labeldias{
    color: #ffffff;
    font: 700 14px OpenSans;
    position: relative;
    top: -64px;
    left: 500px;
}
#txt_labelservico{
    position: relative;
    left: 102px;
    color: #ffffff;
    font: 700 14px OpenSans;
}
#txt_labelidioma{
    color: #ffffff;
    font: 700 14px OpenSans;
    position: relative;
    left: 408px;
}

.btnmenu:hover{
    color: #f9bf12;
}

#label_depoimento{
    position: relative;
    width: 643px;
    height: 173px;
    top: 267px;
    left: 495px;    
}

#label_depoimento2{
    position: relative;
    width: 643px;
    height: 173px;
    top: 350px;
    left: 265px;    
}

#btn_orcamento{
    position: relative;
    left: 250px;
    top: -15px;    
}

#txt_depoimento{
    position: relative;
    top: 109px;
    left: 309px;
    color: #ffffff;
    font: 700 40px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_depoimento2{
    position: relative;
    top: 150px;
    left: -200px;
    color: #030202;
    font: 400 20px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
}
#txt_depoimento3{
    position: relative;
    color: #777777;
    font: 400 22px / 28px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: 30px;
}

#txt_depoimento4{
    color: #f9c52b;
    font: 400 18px / 36px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    position: relative;
    left: 1px;
    top: 40px;
}

#txt_depoimento5{
    position: relative;
    color: #777777;
    font: 400 22px / 28px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: 50px;
}


#txt_depoimento6{
    color: #f9c52b;
    font: 400 18px / 36px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    position: relative;
    left: 1px;
    top: 90px;
}

#txt_parceiro1{
    position: relative;
    color: #ffffff;
    font: 700 40px Montserrat;
    top: 460px;
    left: 281px;
}

#btn_parceiro{
    position: relative;
    left: -280px;
    top: 550px;
}

#img_parceiro1{
    position: relative;
    top: 580px;
    left: 180px;
    
}
#img_parceiro2{
    position: relative;
    top: 580px;
    left: 180px;
    padding-left: 50px;
}
#img_parceiro3{
    position: relative;
    top: 620px;
    left: 180px;
    padding-left: 50px;
}
#img_parceiro4{
    position: relative;
    top: 600px;
    left: 180px;
    padding-left: 50px;
}

#txt_localizacao1{
    position: relative;
    color: #ececec;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 210px;
    top: 850px;
}
#txt_localizacao2{
    position: relative;
    color: #ececec;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 175px;
    top: 850px;
}
#txt_localizacao3{
    position: relative;
    color: #ececec;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 10px;
    top: 905px;
}

#img_localizacao1{
    position: relative;
    left: 150px;
    top: 900px;
}

#img_localizacao2{
    position: relative;
    left: 150px;
    top: 870px;
}

#img_localizacao3{
    position: relative;
    left: -10px;
    top: 910px;
}

