.content{
    position: relative;
    width: 1400px;
    height: 4960px;
    background: url(../images/bg.png);
    margin: auto;    
}
.Header{
    background-color: #fdfafa;
    height: 115px;
    width: 1400px;
}
.inicio{
    height: 583px;
    left: 0px;
    top: 115px;
}
.servicos{
    height: 482px;
    top: 505px;
    left: 0px;    
}
a{
    animation: none;
    text-decoration: none;
    color: #000000;
}
#linkbar{
    color: #000000;
    font: 400 14px / 41px;
    font-family: "Verdana";
    position: absolute;
    left: 741px;
    top: 52px;
    word-spacing: 30px;
}

#logo{
    height: 104px;
    left: 142px;
    right: 962px;
    top: 5px;
    width: 296px;
}
#transparencia1{
    position: absolute;
    
}
#barra1{
    position: absolute;
}
#txt_inicio1{
    position: relative;
    color: #ffffff;
    font: 700 60px / 65px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 423px;
    top: 75px;
}
#txt_inicio2{
    position: relative;
    color: #ffffff;
    font: 700 60px / 65px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 516px;
    top: 15px;
}
#txt_inicio3{
    position: relative;
    color: #ffffff;
    font: 400 20px 'Myriad Pro';
    font-family: 'Myriad Pro', 'Verdana', sans-serif;
    left: 582px;
    top: -80px;
}
#inicio_plus{
    position: relative;
    left: 458px;
    top: -95;
}
#btn_orcamento{
    position: relative;
    left: 587px;
    top: -65px;
    
}
#txt_servicos{
    position: relative;
    color: #f9c52b;
    font: 700 45px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 570px;
    top: -150px;
}
#img_servicos{
    position: relative;
    left: 74px;
    top: -150px;
}
#box_sobre{
    position: relative;
    width: 853px;
    height: 245px;
    left: 41px; 
    top: -300px;
    border-color: #F9C52B;
    border-width: 8px;
    border-style: solid;
}
#img_heart{
    position: relative;
    left: 95px;
    top: 45px;
}
#txt_heart1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -10px;
    top: 120px;
}
#txt_heart2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -180px;
    top: 156px;
}

#img_mobo{
    position: relative;
    left: -15px;
    top: 45px;
}
#txt_mobo1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -90px;
    top: 120px;
}
#txt_mobo2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: -255px;
    top: 156px;
}
#txt_mobo3{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Myriad Pro, Verdana, sans-serif;
    position: relative;
    left: -405px;
    top: 170px;
}
#img_statics{
    position: relative;
    left: 650px;
    top: -35px;
}
#txt_statics1{
    color: #000000;
    font: 700 18px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 580px;
    top: 45px;
}
#txt_statics2{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 430px;
    top: 80px;
}
#txt_statics3{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    font-family: Montserrat, Verdana, sans-serif;
    position: relative;
    left: 213px;
    top: 95px;
}
#txt_sobre{
    position: relative;
    color: #000000;
    font: 700 45px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 392px;
    top: -300px;
}
#txt_sobre2{
    position: relative;
    color: #f9bf12;
    font: 700 30px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 120px;
    top: -250px;
}
#txt_sobre3{
    position: relative;
    color: #000000;
    font: 400 20px 'Myriad Pro';
    font-family: Myriad Pro, Verdana, sans-serif;
    text-align: center;
    width: 920px;
    top: -250px;
    left: 27px;
}
#txt_idiomas{
    position: relative;
    color: #f9c52b;
    font: 700 35px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 848px;
    top: -100px;
}
#txt_idiomas2{
    position: relative;
    color: #777777;
    font: 400 15px 'Myriad Pro';
    font-family: Myriad Pro, Verdana, sans-serif;
    left: 893px;
    top: -130px;
}
#txt_idiomas3{
    position: relative;
    color: #222222;
    font: 700 15px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
    left: 849px;
    top: -100px;
}
#txt_idiomas4{
    position: relative;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    left: 849px;
    top: -125px;
    width: 420px;
}
#img_precos{
    position: relative;
    left: 854px;
    top: -100px;
}
#txt_precos{
    position: relative;
    left: 941px;
    top: -185px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_precos2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -210px; 
}
#img_quality{
    position: relative;
    left: 854px;
    top: -160px;
}
#txt_quality{
    position: relative;
    left: 940px;
    top: -245px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_quality2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -270px; 
}
#img_security{
    position: relative;
    left: 854px;
    top: -222px;
}
#txt_security{
    position: relative;
    left: 940px;
    top: -305px;
    color: #222222;
    font: 700 16px / 75px Montserrat;
    font-family: Montserrat, Verdana, sans-serif;
}
#txt_security2{
    position: relative;
    left: 940px;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    top: -330px; 
}
#txt_idiomas5{
    position: relative;
    color: #777777;
    font: 400 16px 'Myriad Pro';
    font-family: 'Myriad Pro', Verdana, sans-serif;
    width: 550px;
    left: 850px;
    top: -250px;
}
